{% load static %} 

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dish — сайт рецептов</title>
    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}">
</head>
<body>

<header>
    <div class="header-container">
        <h1><a href="{% url 'index' %}">Dish - сайт рецептов </a></h1>
        <nav>
            {% if request.path != '/' and request.path != '/index/' %}
                <a href="{% url 'index' %}" class="nav-button">Главная</a>
            {% endif %}
        </nav>
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>© 2025 Dish</p>
</footer>

</body>
</html>
