{% extends 'recipes/base.html' %}
{% load static %} 
{% block content %}
<h2>{{ recipe.title }}</h2>

<p>Дата публикации: {{ recipe.created_at|date:"d.m.Y" }}</p>
<p>Время приготовления: {{ recipe.cook_time }} минут</p>
<p>Категория: {{ recipe.category.name }}</p>

{% if recipe.image %}
    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="max-width: 400px;">
{% endif %}
<h3>Описание:</h3>
<p>{{ recipe.description }}</p>

<h3>Ингредиенты:</h3>
<ul>
    {% for item in recipe.recipeingredient_set.all %}
        <li>{{ item.ingredient.name }} — {{ item.amount }}</li>
    {% endfor %}
</ul>

<h3>Шаги приготовления:</h3>
<ol>
    {% for step in recipe.instructionstep_set.all|dictsort:"step_number" %}
        <li>{{ step.step_text }}</li>
    {% endfor %}
</ol>

{% endblock %}
